[Desktop Entry]
Name=Libation
Exec=env OPENSSL_ENABLE_SHA1_SIGNATURES="1" /usr/bin/libation
Icon=libation
Comment=Liberate your Audiobooks
Terminal=false
Type=Application
MimeType=x-content/unix-software;
Categories=Audio;AudioVideo;
Keywords=audible;audio;audiobook;book;
